{% load i18n %}
<a href="{% url 'djdt:loginout_login' %}" onclick="return loginoutPanelCall(this)" style="color: inherit;">{% trans "log in" %}</a>
&nbsp;/&nbsp;
<a href="{% url 'djdt:loginout_logout' %}" onclick="return loginoutPanelCall(this)" style="color: inherit;">{% trans "log out" %}</a>
<script>
  window.loginoutPanelCall = window.loginoutPanelCall || function (el) {
    function getCookie(name) {
      var m = document.cookie.match("(^|;)\\s*" + name + "\\s*=\\s*([^;]+)");
      return m ? m.pop() : "";
    }
    fetch(el.href, {
      method: "POST",
      credentials: "same-origin",
      headers: {"X-CSRFToken": getCookie("csrftoken")}
    })
      .then(function (r) {
        if (r.ok) { location.reload(); return; }
        throw new Error(r.status + " " + r.statusText);
      })
      .catch(function (e) { console.error("[loginout_panel]", e); });
    return false;
  };
</script>
